node_modules
dist
dist_*
dist_renderer
release
.DS_Store
.env
*.local
.vscode
*.log
*.exe
*.zip
build-cache/

# Proprietary Plugin Engine
src/utils/PluginLoader.js
src/utils/PluginStore.js
plugins/
plugins.json

# Proprietary Extension Engine
src/utils/ExtensionLoader.js
src/utils/ExtensionStore.js
extensions/

# Local marketing site assets (ignore)
domain/
